{% load static %}
<div class="container mt-3 mb-2">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
  >
    <div class="col mb-3">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
        aria-label="Bootstrap"
      >
        <img
          src="{% static 'Images/Home_Page_Images/logo-symbol.png' %}"
          alt="Logo"
          width="35"
          height="32"
          class="me-2"
        />
        <span style="color: #8cb7f5; font-weight: bold; font-size: 20px">
          Brand
        </span>
      </a>
      <p class="text-body-secondary">
        Best information about the company gies here but now lorem ipsum is
      </p>
      <div class="d-flex gap-3">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter-x"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-whatsapp"></i>
      </div>
    </div>

    <div class="col mb-3">
      <h5>About</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">About us</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Find store</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Categories</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Blogs</a>
        </li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>Partnership</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">About us</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Find store</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Categories</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Blogs</a>
        </li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>Information</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Help Center</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Money Refund</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Shipping</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>Get app</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <img
            src="{% static 'Images/Home_Page_Images/Group.png' %}"
            alt="Logo"
            style="height: 42px; width: 124px"
            class="me-2"
          />
        </li>
        <li class="nav-item mb-2">
          <img
           src="{% static 'Images/Home_Page_Images/market-button.png' %}"
            alt="Logo"
            class="me-2"
            style="height: 42px; width: 124px"
          />
        </li>
      </ul>
    </div>
  </footer>
</div>
<div class="container p-0 bg-body-tertiary">
  <div class="row g-0">
    <div class="col">
      <div style="display: flex; justify-content: space-between">
        <p>© 2023 Ecommerce</p>
        <div class="btn-group dropup">
          <button
            
            class="btn btn-tertiary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
           <img
            src="{% static 'Images/Home_Page_Images/us_flag.png' %}"
            alt="Logo"
            style="height: 20px; width: 20px;"
           
          />English
          </button>
          
        </div>
      </div>
    </div>
  </div>
</div>
